* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

 body {
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: url(/arifnex-99.github.io/files/img/hacktiv-logo.png);
    background-size: 20%;
}


.mainbox {
    position: relative;
    width: 500px; 
    height: 500px;
}

.mainbox:after {
    position: absolute;
    content: '';
    width: 100px;
    height: 80px;
    background: url('/arifnex-99.github.io/files/img/arrow.webp') no-repeat;
    background-size: 100px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}


.box {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 10px solid rgb(57, 226, 147);
    overflow: hidden;
    transition: all ease 5s;
}

span {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}


.span1 {
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-color: #e91515;
    top: 120px;
    left: 0;
}

.span2 {
    clip-path: polygon(100% 92%, 0 50%, 100% 8%);
    background-color: #0ca02a;
    top: 120px;
    right: 0;
}

.span3 {
    clip-path: polygon(50% 0,8% 100%, 92% 100%);
    background-color: #100e9e;
    bottom: 0;
    left: 120px;
}

.span4 {
    clip-path: polygon(50% 100%,92% 0, 8% 0);
    background-color: #c2c514;
    top: 0;
    left: 120px;
}

.box1 .span3 angka{
    transform: translate(-50%, -50%) rotate(-270deg);
}

.box1 .span1 angka, .box2 .span1 angka{
   transform: translate(-50%, -50%) rotate(185deg);
}

.box2 .span3 angka{
   transform: translate(-50%, -50%) rotate(90deg);
}

.box1 .span4 angka, .box2 .span4 angka{
   transform: translate(-50%, -50%) rotate(-85deg);
}

.box2 {
    width: 100%;
    height: 100%;
    transform: rotate(-135deg);
}

 
span angka {
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 3px 3px 0 #717171;
}


.spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #f56826;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    font-family : "Hi Melody", serif;
} 

.spin:active {
    width: 70px;
    height: 70px;
    font-size: 20px;
}

.mainbox.animate:after {
    animation: animateArrow 0.7s ease infinite;
}


@keyframes animateArrow{
    50%{
        right: -40px;
    }
}